<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.ArtCommentMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.ArtComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="at_id" jdbcType="BIGINT" property="atId" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="like" jdbcType="INTEGER" property="like" />
  </resultMap>
  <sql id="Base_Column_List">
    id, at_id, uid, descr, createtime, `like`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.ArtComment">
    insert into article_comment (id, at_id, uid, descr, 
      createtime, `like`)
    values (#{id,jdbcType=BIGINT}, #{atId,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{descr,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{like,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.ArtComment">
    insert into article_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="atId != null">
        at_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="descr != null">
        descr,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="like != null">
        like,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="atId != null">
        #{atId,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="like != null">
        #{like,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.ArtComment">
    update article_comment
    <set>
      <if test="atId != null">
        at_id = #{atId,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="descr != null">
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="like != null">
        like = #{like,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.ArtComment">
    update article_comment
    set at_id = #{atId,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT},
      descr = #{descr,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      `like` = #{like,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectCountByUid" parameterType="java.lang.Long" resultType="java.lang.Long">
    select
    count(*)
    from article_comment
    where uid=#{uid}
  </select>
</mapper>