<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.Article">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="like_num" jdbcType="BIGINT" property="likeNum" />
    <result column="stars_num" jdbcType="BIGINT" property="starsNum" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="creattime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="classify_id" jdbcType="INTEGER" property="classifyId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, introduction, descr, like_num, stars_num, imgurl, goods_id, uid, creattime, classify_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.Article">
    insert into article (id, introduction, descr,
      like_num, stars_num, imgurl,
      goods_id, uid, creattime,
      classify_id)
    values (#{id,jdbcType=BIGINT}, #{introduction,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR},
      #{likeNum,jdbcType=BIGINT}, #{starsNum,jdbcType=BIGINT}, #{imgurl,jdbcType=VARCHAR},
      #{goodsId,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{creattime,jdbcType=TIMESTAMP},
      #{classifyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="descr != null">
        descr,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="starsNum != null">
        stars_num,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="creattime != null">
        creattime,
      </if>
      <if test="classifyId != null">
        classify_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=BIGINT},
      </if>
      <if test="starsNum != null">
        #{starsNum,jdbcType=BIGINT},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="creattime != null">
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="classifyId != null">
        #{classifyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.Article">
    update article
    <set>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null">
        like_num = #{likeNum,jdbcType=BIGINT},
      </if>
      <if test="starsNum != null">
        stars_num = #{starsNum,jdbcType=BIGINT},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="creattime != null">
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="classifyId != null">
        classify_id = #{classifyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.Article">
    update article
    set introduction = #{introduction,jdbcType=VARCHAR},
      descr = #{descr,jdbcType=VARCHAR},
      like_num = #{likeNum,jdbcType=BIGINT},
      stars_num = #{starsNum,jdbcType=BIGINT},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT},
      creattime = #{creattime,jdbcType=TIMESTAMP},
      classify_id = #{classifyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where 1=1
    <if test="_parameter != 0">
      and classify_id = #{classifyId,jdbcType=INTEGER}
    </if>
  </select>

  <update id="updateLike" parameterType="java.lang.Long">
        update article set like_num=like_num+1 where id = #{id}
  </update>
</mapper>