<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.GoodsCollMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.GoodsColl">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goodsid" jdbcType="BIGINT" property="goodsid" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodsid, uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_collection
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_collection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.GoodsColl">
    insert into goods_collection (id, goodsid, uid
      )
    values (#{id,jdbcType=BIGINT}, #{goodsid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.GoodsColl">
    insert into goods_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.GoodsColl">
    update goods_collection
    <set>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.GoodsColl">
    update goods_collection
    set goodsid = #{goodsid,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>