<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.GoodsComMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.GoodsCom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="oder_desc_id" jdbcType="BIGINT" property="oderDescId" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oder_desc_id, descr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.GoodsCom">
    insert into goods_comment (id, oder_desc_id, descr
      )
    values (#{id,jdbcType=BIGINT}, #{oderDescId,jdbcType=BIGINT}, #{descr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.GoodsCom">
    insert into goods_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oderDescId != null">
        oder_desc_id,
      </if>
      <if test="descr != null">
        descr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="oderDescId != null">
        #{oderDescId,jdbcType=BIGINT},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.GoodsCom">
    update goods_comment
    <set>
      <if test="oderDescId != null">
        oder_desc_id = #{oderDescId,jdbcType=BIGINT},
      </if>
      <if test="descr != null">
        descr = #{descr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.GoodsCom">
    update goods_comment
    set oder_desc_id = #{oderDescId,jdbcType=BIGINT},
      descr = #{descr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>