<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.SeeImgMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.SeeImg">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="stars_num" jdbcType="BIGINT" property="starsNum" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cid, uid, stars_num, imgurl, descr
  </sql>


  <update id="startImg" parameterType="map">
    update see_img
    set stars_num =#{starsNum}
    where id = #{id}
  </update>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from see_img
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.SeeImg">
    insert into see_img (id, cid, uid, stars_num, 
      imgurl, descr)
    values (#{id,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{starsNum,jdbcType=BIGINT}, 
      #{imgurl,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.SeeImg">
    insert into see_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="starsNum != null">
        stars_num,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="descr != null">
        descr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="starsNum != null">
        #{starsNum,jdbcType=BIGINT},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.SeeImg">
    update see_img
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="starsNum != null">
        stars_num = #{starsNum,jdbcType=BIGINT},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        descr = #{descr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.SeeImg">
    update see_img
    set cid = #{cid,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT},
      stars_num = #{starsNum,jdbcType=BIGINT},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      descr = #{descr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from see_img
    where id = #{id,jdbcType=BIGINT}
  </select>


  <!--分页展示图片-->
  <select id="showImgAll" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT U.nickname,U.img, M.id, M.imgurl,M.stars_num,M.descr from see_img M
    INNER JOIN userinfo U
    on M.uid = U.uid
    ORDER BY M.id limit #{index,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

  <!--分类分页展示图片-->
  <select id="showSeeImgByclass" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT U.nickname,U.img, M.id, M.imgurl,M.stars_num,M.descr from see_img M
    INNER JOIN userinfo U
    on M.uid = U.uid
    where M.cid = #{cid,jdbcType=INTEGER}
    ORDER BY M.id limit #{index,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

  <!--查看当前登录用户收藏的图片-->
  <select id="showMyStarImg" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT M.imgurl, M.descr, M.uid,M.id
	FROM see_img_collection C
    INNER JOIN see_img M ON C.imgid = M.id
    WHERE 	C.uid = #{uid,jdbcType=BIGINT}
    ORDER BY C.id LIMIT #{index,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
  </select>

</mapper>