<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.StylistMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.Stylist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
  </resultMap>
    <resultMap id="BaseResultMap2" type="com.ssy.app.vo.StyVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="rid" jdbcType="INTEGER" property="rid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="region" jdbcType="VARCHAR" property="region" />
        <result column="position" jdbcType="VARCHAR" property="position" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="weixin" jdbcType="VARCHAR" property="weixin" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="info" jdbcType="VARCHAR" property="info" />
    </resultMap>
  <sql id="Base_Column_List">
    id, name, sex, position, phone, weixin, email, aid, info, imgurl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stylist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stylist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.Stylist">
    insert into stylist (id, name, sex, 
      position, phone, weixin, 
      email, aid, info, imgurl
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{position,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{aid,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.Stylist">
    insert into stylist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.Stylist">
    update stylist
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.Stylist">
    update stylist
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      aid = #{aid,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPage" resultMap="BaseResultMap2" parameterType="int">
        select sl.id id, sc.id cid,sr.id rid, sl.`name`,sc.`name` city,sr.`name` region, phone from stylist sl
         inner join styregion sr on sr.id = sl.aid
         inner join stycity sc on sc.id=sr.cid
    </select>
    <!--查询数量-->
    <select id="selectCount" resultType="int">
        select count(*) from stylist
    </select>
    <!--根据城市查询设计师-->
    <select id="selectByCity" resultMap="BaseResultMap2" parameterType="java.lang.String">
        select sl.id id, sc.id cid,sr.id rid, sl.`name`,sc.`name` city,sr.`name` region, phone from stylist sl
        inner join styregion sr on sr.id = sl.aid
        inner join stycity sc on sc.id=sr.cid
        where sc.`name`=#{sc.name}
    </select>
    <!--根据城市ID查询设计师-->
    <select id="selectBycid" resultMap="BaseResultMap2" parameterType="int">
        select sl.id id, sc.id cid,sr.id rid, sl.`name`,sc.`name` city,sr.`name` region, phone from stylist sl
        inner join styregion sr on sr.id = sl.aid
        inner join stycity sc on sc.id=sr.cid
        where sc.id=#{sc.id}
    </select>
    <!--根据ID查询地址-->
    <select id="selectAddr" resultMap="BaseResultMap2" parameterType="int">
        select sl.id id, sc.`name` city,sr.`name` region from stylist sl
        inner join styregion sr on sr.id = sl.aid
        inner join stycity sc on sc.id=sr.cid
        where sl.id=#{sl.id}
    </select>

</mapper>