<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.TopicMapper">
    <resultMap id="BaseResultMap" type="com.ssy.app.enity.Topic">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="creattime" jdbcType="TIMESTAMP" property="creattime" />
        <result column="uid" jdbcType="BIGINT" property="uid" />
        <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
        <result column="cid" jdbcType="BIGINT" property="cid" />
        <result column="info" jdbcType="VARCHAR" property="info" />
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.ssy.app.vo.TopicVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="creattime" jdbcType="TIMESTAMP" property="creattime" />
        <result column="uid" jdbcType="BIGINT" property="uid" />
        <result column="nid" jdbcType="BIGINT" property="nid" />
        <result column="nname" jdbcType="VARCHAR" property="nname" />
        <result column="img" jdbcType="VARCHAR" property="img" />
        <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
        <result column="cid" jdbcType="BIGINT" property="cid" />
        <result column="cname" jdbcType="VARCHAR" property="cname" />
        <result column="info" jdbcType="VARCHAR" property="info" />
    </resultMap>
    <sql id="Base_Column_List">
        id, title, creattime, uid, imgurl, cid, info
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from topic
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from topic
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ssy.app.enity.Topic">
        insert into topic (id, title, creattime,
                           uid, imgurl, cid, info
        )
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{creattime,jdbcType=TIMESTAMP},
                #{uid,jdbcType=BIGINT}, #{imgurl,jdbcType=VARCHAR}, #{cid,jdbcType=BIGINT}, #{info,jdbcType=VARCHAR}
               )
    </insert>
    <insert id="insertSelective" parameterType="com.ssy.app.enity.Topic">
        insert into topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="creattime != null">
                creattime,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="imgurl != null">
                imgurl,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="info != null">
                info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="creattime != null">
                #{creattime,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="imgurl != null">
                #{imgurl,jdbcType=VARCHAR},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=BIGINT},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.Topic">
        update topic
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="creattime != null">
                creattime = #{creattime,jdbcType=TIMESTAMP},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="imgurl != null">
                imgurl = #{imgurl,jdbcType=VARCHAR},
            </if>
            <if test="cid != null">
                cid = #{cid,jdbcType=BIGINT},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.Topic">
        update topic
        set title = #{title,jdbcType=VARCHAR},
            creattime = #{creattime,jdbcType=TIMESTAMP},
            uid = #{uid,jdbcType=BIGINT},
            imgurl = #{imgurl,jdbcType=VARCHAR},
            cid = #{cid,jdbcType=BIGINT},
            info = #{info,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--分页查询所有话题-->
    <select id="selectByPage" resultMap="BaseResultMap2" parameterType="int">
        select t.id id, t.title title,t.creattime, u.id uid,ui.id nid,ui.nickname nname,
               ui.img img,t.imgurl imgurl,tc.id cid,tc.classify cname
        from topic t inner join userinfo ui on t.uid = ui.id
                     inner join `user` u on ui.uid=u.id
                     inner join topic_classify tc on t.cid=tc.id
        order by t.id
    </select>
    <!--查询数量-->
    <select id="selectCount" resultType="int">
        select count(*) from topic
    </select>
    <!--根据分类ID查询话题-->
    <select id="selectBycid" resultMap="BaseResultMap2" parameterType="int">
        select t.id id, t.title title,t.creattime, u.id uid,ui.id nid,ui.nickname nname,
               ui.img img,t.imgurl imgurl,tc.id cid,tc.classify cname
        from topic t inner join userinfo ui on t.uid = ui.id
                     inner join `user` u on ui.uid=u.id
                     inner join topic_classify tc on t.cid=tc.id
        where tc.id=#{tc.id}
    </select>
</mapper>