<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="designer" jdbcType="INTEGER" property="designer" />
    <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nickname, img, uid, designer, phonenumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from userinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.UserInfo">
    insert into userinfo (id, nickname, img, 
      uid, designer, phonenumber
      )
    values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, 
      #{uid,jdbcType=BIGINT}, #{designer,jdbcType=INTEGER}, #{phonenumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.UserInfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="designer != null">
        designer,
      </if>
      <if test="phonenumber != null">
        phonenumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="designer != null">
        #{designer,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null">
        #{phonenumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.UserInfo">
    update userinfo
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="designer != null">
        designer = #{designer,jdbcType=INTEGER},
      </if>
      <if test="phonenumber != null">
        phonenumber = #{phonenumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssy.app.enity.UserInfo">
    update userinfo
    set nickname = #{nickname,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=BIGINT},
      designer = #{designer,jdbcType=INTEGER},
      phonenumber = #{phonenumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectIdByUid" parameterType="java.lang.Long" resultType="java.lang.Long">
    select
    id
    from userinfo
    where uid = #{uid,jdbcType=BIGINT}
  </select>
</mapper>