<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssy.app.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ssy.app.enity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ssy.app.enity.User">
    <result column="login_name" jdbcType="VARBINARY" property="loginName" />
    <result column="password" jdbcType="VARBINARY" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id
  </sql>
  <sql id="Blob_Column_List">
    login_name, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ssy.app.enity.User">
    insert into user (id, login_name, password
      )
    values (#{id,jdbcType=BIGINT}, #{loginName,jdbcType=VARBINARY}, #{password,jdbcType=VARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssy.app.enity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginName != null">
        #{loginName,jdbcType=VARBINARY},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssy.app.enity.User">
    update user
    <set>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARBINARY},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ssy.app.enity.User">
    update user
    set login_name = #{loginName,jdbcType=VARBINARY},
      password = #{password,jdbcType=VARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>